@model IEnumerable<MVC_Client.Models.CrowdFeedback>

<!DOCTYPE html>
<html lang="en">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<title>Audience Feedback</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style type="text/css" media="screen">
body { background-color: #2E37FE; font: 16px Helvetica, Arial; color: #fff; }
</style>
</head>
<body>
  <button id='winnerButton'>Pick a random response!</button>
            <table  id='messages' >
                <thead>
                    <tr>
                        <th >Id</th>
                        <th>Name</th>
                        <th>Message/th>
                        <th>Twitter</th>
      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model)
                    {
                        <tr>
                            <td >@result.Id</td>
                              <td >@result.Name</td>
                              <td >@result.Message</td>
                              <td >@result.Twitter</td>
                          
                        </tr>
                    }
                </tbody>
            </table>

    <script type="text/javascript">
        var tbl = $('#messages');
          $(function () {
            var retrievedRows = 1;
            $('#winnerButton').click(function () {
                // hide all rows
                var rowCount = $('#messages tr').length;
                $('#messages tr').hide();

                var i = 1;
                while (i <= retrievedRows) {

                    rand = (Math.floor(Math.random() * rowCount));
                    // if the row is currently hidden, show it
                    if (tbl.find('tr').eq(rand).is(':hidden')) {
                        tbl.find('tr').eq(rand).show();
                        i++;  
                    }
                }
            });
        });
</script>
</body>
</html>