@model IEnumerable<MVC_Client.Models.Tweet>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<title>Sandbox</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style type="text/css" media="screen">
body { background-color: #000; font: 16px Helvetica, Arial; color: #fff; }
</style>
</head>
<body>
  <button id='gimme10'>10 random rows</button>


            <table  id='mytable' >
                <thead>
                    <tr>
                        <th >Id</th>
                        <th>Twitter Id</th>
                        <th>Text/th>
                        <th>Author</th>
      
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model)
                    {
                        <tr>
                            <td >@result.Id</td>
                              <td >@result.TwitterId</td>
                              <td >@result.Text</td>
                              <td >@result.Author</td>
                          
                        </tr>
                    }
                </tbody>
            </table>


  <p id='debug'></p>
<script type="text/javascript">
    var tbl = $('#mytable');
    for (i = 1; i <= 50; i++) {
        tbl.append('<tr><td>' + i + '</td></tr>');
    }

    $(function () {
        var retrievedRows = 1;
        $('#gimme10').click(function () {
            // hide all rows
            $('#mytable tr').hide();

            var i = 1;
            while (i <= retrievedRows) {
                // generate random # from 1 - 50
                rand = (Math.floor(Math.random() * 50));

                // if the row is currently hidden, show it
                if (tbl.find('tr').eq(rand).is(':hidden')) {
                    tbl.find('tr').eq(rand).show();
                    i++;  // increment counter
                }
            }
        });
    });
</script>
</body>
</html>