<h1>So what do you think about Mobile Services?</h1>
<form id="form1" method="post" action="api/feedback/endFeedback" 
    enctype="application/x-www-form-urlencoded">
    <div>
        <label for="Name">Name</label>
    </div>
    <div>
        <input name="Name" type="text" />
    </div>
    <div>
        <label for="Email">Email</label>
    </div>
    <div>
        <input name="Email" type="Email" />
    </div>

        <div>
        <label for="TwitterHandle">TwitterHandle</label>
    </div>
    <div>
        <input name="TwitterHandle" type="text" />
    </div>


    <div>
        <label for="Comment">Comment</label>
    </div>
    <div>
        <input name="Comment" type="text" />
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>