<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1247SPLATTechnology.UserGroupFeedbackApp" Publisher="CN=BBB5695B-7323-4066-BAD5-11F08D374896" Version="1.0.0.0" />
  <Properties>
    <DisplayName>User Group Feedback App</DisplayName>
    <PublisherDisplayName>SPLAT Technology</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GetStartedWithData.App">
      <VisualElements DisplayName="User Group Feedback App" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="sample application that supports the Get started with data tutorial." ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>