
<div class="widget">
    <div class="widget-header">
        <i class="icon-user"></i>
        <h3>Prize Time !!</h3>
    </div>

    <div class="widget-content">

        @Html.ActionLink("View all tweets", "Tweets")
        <br />

        @Html.ActionLink("View all Cork Registrations", "Cork")
        @Html.ActionLink("View all Dublin Registrations", "Dublin")
           
    </div>
</div>

